<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhenqi.loginmodule" >
    <!--集成调试使用-->
    <application android:theme="@style/AppTheme">
        <!--<activity android:name=".login.LoginActivity"/>-->
        <!--<activity android:name=".register.RegisterActivity"/>-->
    </application>
</manifest>
